{% render 'partials/head.liquid', title: 'Squad page' %}

<h1>Emoji Library</h1>
<main>
{% for person in persons %}

<div>
  
  <article class="card-front">
    <img src="{{ person.avatar }}" onerror="this.src='altperson.png'" alt="Profile Image">
    <h2>{{ person.name }}</h2>
  </article>

  <article style="background-color: {{ person.fav_color }};" class="card-back">
    <p>{{ person.fav_emoji }}</p>
  </article>

  </div>

{% endfor %}
</main>

{% comment %} <main>
  <ul>
    {% for person in persons %}
      <li style="background-color: {{ person.fav_color }};">
        <a href="/student/{{ person.id }}">{{ person.name }}</a>
        <p>{{ person.fav_emoji }}</p>
      </li>
    {% endfor %}
  </ul>
</main> {% endcomment %}
    
{% render 'partials/foot.liquid', squads: squads %}